  body {
 font-family:'montserrat', sans-serif;
 margin: 0;
}
h1{
 color:black;
 font-size: 32px;
 font-weight: 700;
 letter-spacing: 1px;
 margin-bottom:10px;
}
h2 {
 color:blue;
 font-size: 25px;
}
h3 {
 color:blue;
 font-size: 25px;
}
h4 {
 color:blue;
 font-size: 25px;
}
h5 {
 color: blue;
 font-size: 25px;
}
h6 {
 color: red;
 font-size: 20px;
}
p {
 color: #555;
 Line-height: 1.6;
 font-weight: 400;
}
li{
 color: #555;
 line-height: 1.6;
}
.box {
 background: white;
 padding: 16px;
 margin: 15px;
 bordepxr-radius: 12px;
 max-width: 600px;
 margin: 30 px auto;
 box-shadow:0 0 10px rgba(0,0,0,0.15);
 text-align: none;
}
table {
 font-size: 25px;
}
a {
  text-decoration: none;
  color: white;
  background: #007bff;
  padding: 10px 15px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 10px;
}

a:hover {
  background: #0056b3;
}
img {
  width: 150px;
  margin-top: 10px;
}
a{
 transition: 3s;
}
a:hover{
 transform: scale(1.1);
 background: #0056b3;
}
.container {
 border-radius:8px;
 text-align: center;
}
  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.box {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}
 @media (max-width: 600px) {
  .box {
    margin: 10px;
    padding: 15px;
  }
  img {
    width: 120px;
  }
}
body {
  background: linear-gradient(135deg, white, black);
  }
