* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    font-size: 20px;
    color: #333;
}

h2 {
    font-size: 26px;
    color: #007bff;
    margin-top: 5px;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid limegreen;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background: #0056b3;
}

h3 {
    margin-top: 25px;
    color: #333;
}

.contact {
    font-size: 14px;
    color: #555;
    margin-top: 8px;
}
 @media (max-width: 600px) {
  .box {
    margin: 10px;
    padding: 15px; 
  } 
 }
.fade-in{
    animation: fade 1s ease;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.dark{
    background: #121212;
}
.dark .container{
    background: #1e1e1e;
    color: white;
}
.dark h1,
.dark .subtitle,
.dark .contact{
    color: #ccc;
}
.dark .btn{
    background:#0d6efd;
}
.dark-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
p{
    font-family: 'poppins',sans-serif
}
body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    display: flex;
    justify-content: none;
    align-items: none;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 16px;
    text-align: none;
    width: 90%;
    max-width: 600px;
}

.btn {
    display: inline-block;
    margin-top: 0px;
    padding: 12px 18px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
